
/* Global ---------------------------*/

	body {
		font-family: "Lucida Grande", sans-serif;
		margin: 0;
		padding: 0;
	}
	
	h1, h2, h3, h4, h5, h6 {
		font-family: Georgia, serif;
		font-weight: normal;
	}
	
/* Helpers -------------------------- */

/*     .clearfix:before, */
	.clearfix:after {
		clear: both;
		content: "";
		display: block;
	}
	
	.left {
		float: left;
	}
	
	.right {
		float: right;
	}
	
	.absolute_center_parent {
		position: relative;
	}
	
	.absolute_center {
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
	}
	
/* Mobile - Min------------------------ */
	.header {
		background-color: #241519;
		background-image: url(../images/beans.jpg);
		background-position: center;
		height: 250px;
		margin: 50px auto;
	}
	
	.header .logo {
		background-image: url(../images/logo.png);
		height: 103px;
		overflow: hidden;
		position: absolute;
		text-indent: 100%;
		white-space: nowrap;
		width: 271px;
	}
	
	.footer {
		background: #241915;
		color: #fff;
		font-size: 13px;
		letter-spacing: 0.05em;
		line-height: 1.5;
		margin: 50px 0 0;
		padding: 50px 0 60px;
		text-align: center;
		text-transform: uppercase;
	}
	
	.footer .copyright {
		margin: 0 0 10px;
	}
	
	.footer .social_nav {
		margin: 0;
	}
	
	.footer .social_nav a {
		color: #fff;
		text-decoration: none;
	}
	
	.footer .icon {
		background-image: url(../images/icon.png);
		height: 45px;
		margin: 0 auto 20px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		width: 45px;
	}
	
	.intro {
		margin: 0 auto;
		text-align: center;
	}
	
	.intro h2 {
		color: #261913;
		font-size: 24px;
		line-height: 1;
		margin: 20px 0;
	}
	
	.intro p {
		color: #666;
		font-size: 14px;
		line-height: 1.7;
	}
	
	.menu {
		background: #f6f6f6;
		margin: 50px auto;
		padding: 20px 30px;
	}
	
	.menu h3 {
		color: #6d3b1c;
		font-size: 28px;
		margin: 30px 0;
		text-align: center;
	}
	
	.menu ul {
		margin: 0;
		overflow: hidden;
		padding: 0;
	}
	
	.menu li {
		border-bottom: 1px solid #ccc;
		color: #666;
		font-size: 15px;
		line-height: 1.5;
		list-style: none;
		margin: 5px 0;
		padding: 10px 0;
		width: 100%;
	}
	
	.menu li.no_border_mobile {
		border: none;
	}
	
	.menu .price {
		color: #999;
		width: 60px;
	}
	
	.hours {
		margin: 0 auto 20px;
	}
	
	.hours h4{
		color: #261913;
		font-size: 20px;
		margin: 20px 0 15px;
		text-transform: uppercase;
	}
	
	.hours p{
		color: #666;
		font-size: 15px;
		margin: 10px 0;
		line-height: 1.7;
	}
	
	.hours button {
		border: 2px solid #5f3f26;
		color: ##5f3f26;
		display: inline-block;
		font-size: 15px;
		margin: 10px 0 0;
		padding: 10px 20px;
		text-decoration: none;
	}
	
	.hours img{
		display: none;
	}
	
/* 	Mobile---------------------------- */
	
	@media screen and (min-width: 500px) {
		.menu {
			padding: 20px 50px;
		}
	}
	
	@media screen and (max-width: 740px) {
		.gridlock .row.header_wrapper {
			width: 100%;
			margin: 0;
		}
		
		.gridlock .row.header_wrapper .header {
			margin: 0 0 50px;
			width: 100%;
		}
	}
	
/* 	Tablet----------------------------- */

	@media screen and (min-width: 740px) {
		.header {
			height: 325px;
		}
		
		.intro {
			margin: 50px auto;
		}
		
		.intro h2 {
			font-size: 28px;
		}
		
		.intro p {
			font-size: 16px;
		}
		
		.menu {
			padding: 50px 80px;
		}
		
		.menu li {
			width: 48%;
		}
		.menu.no_border {
			border: none;
		}
		.hours {
			margin: 50px auto;
		}
		.hours img {
			display: block;
		}
	}
	

	
/* 	Desktop----------------------------- */	
 
 	@media screen and (min-width: 980px) {
		.header {
			height: 450px;
		}
		
		.intro h2 {
			font-size: 32px;
		}
		.intro p {
			font-size: 18px;
		}
		 
		.footer .icon {
			margin: 0 auto -32px;
		}
		
		.footer .copyright {
			margin: 0;
		}

	}
	